
<div id="main" class="container-fluid">
    <table style="width:100%;">
        <tr>
            <td><h2 id="hdr"><img id="tunesImg" src="img/nowusm.png" width="140" height="60"> Asset Search</h2></td>
            <td>
                <label>
                    Search Target
                    <select ng-model="searchType" class="input-medium">
                        <option value="1">USA Today</option>
                        <option value="2">Indianapolis</option>
                        <option value="3">Louisville</option>
                        <option value="4">Nashville</option>
                        <option value="5">Phoenix</option>
                        <option value="6">NowU</option>
                    </select>
                </label>
            </td>
            <td>Transfer to:</td>
            <td>
                <label>
                    Property
                    <select ng-model="propertyType" class="input-medium">
                        <option value="1">USA Today</option>
                        <option value="2">Indianapolis</option>
                        <option value="3">Louisville</option>
                        <option value="4">Nashville</option>
                        <option value="5">Phoenix</option>
                        <option value="6">NowU</option>
                    </select>
                </label>
            </td>
            <td>
                <label>
                    Site
                    <select ng-model="siteType" class="input-medium">
                        <option value="1">USA Today</option>
                        <option value="2">Indianapolis</option>
                        <option value="3">Louisville</option>
                        <option value="4">Nashville</option>
                        <option value="5">Phoenix</option>
                        <option value="6">NowU</option>
                    </select>
                </label>
            </td>
            <td>
                <label>
                    Asset Group
                    <select ng-model="agType" class="input-medium">
                        <option value="1">USA Today</option>
                        <option value="2">Indianapolis</option>
                        <option value="3">Louisville</option>
                        <option value="4">Nashville</option>
                        <option value="5">Phoenix</option>
                        <option value="6">NowU</option>
                    </select>
                </label>
            </td>
        </tr>
    </table>
    <form id="myForm" class="form-inline form-search" style="padding-left: 10px">
        <label>
            Search for
            <input id="in" type="text" ng-model="searchTerm" class="search-query input-xlarge" placeholder="Enter search term">
        </label>
        <label>
            Asset Type
            <select ng-model="assetType" class="input-small">
                <option value="all">All</option>
                <option value="image">Image</option>
                <option value="video">Video</option>
                <option value="gallery">Gallery</option>
                <option value="album">Album</option>
                <option value="text">Text</option>
            </select>
        </label>
        <label>
            Return:
            <select ng-model="assetReturn" class="input-small">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </label>
        <button class="btn" ng-click="doSearch()"><i class="icon-search"></i> Search</button>&nbsp;
        <span id="qualifiers">
            <label>
                <!--Sort by
                <select ng-model="sortProp" class="input-medium" >
                    <option value="assetTypeName">Asset Type</option>
                    <option value="statusName">Publish Status</option>
                </select>-->
            </label>
            <label>
                Filter by
                <input type="text" ng-model="q" class="input-small">
            </label>
        </span>
    </form>
    <table>
        <tr>
            
            <td><span>{{ remaining() }} of {{ assetResults.length }} chosen</span></td>
            <td><button class="btn" ng-click="UpLoad()" ><i class="icon-upload"></i> Upload to GAIA</button></td>
            <td>
                <label>
                    Section
                    <select ng-model="section" class="input-medium">
                        <option value="connect">Connect</option>
                        <option value="learn">Learn</option>
                        <option value="nurture">Nurture</option>
                        <option value="plan">Plan</option>
                        <option value="play">Play</option>
                        <option value="thrive">Thrive</option>
                        <option value="travel">Travel</option>
                    </select>
                </label>
            </td>
            <td>{{listtogaia()}}<input type="hidden" name="list" id="list" value=""></td>
        </tr>
    </table>
    
     <table id="resultsTbl" class="table table-striped" ng-controller="AssetListCtrl">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" ng-click="allNeedsClicked()" ng-checked="allNeedsMet()" />
                </th>
                <th>Asset Id</th>
                <th>Asset Type</th>
                <th>Headline</th>
                <th>Promo</th>
                <th>Author</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
           
            <tr ng-repeat="item in assetResults | filter:q | orderBy:sortProp">
                    <td><input type="checkbox" name="fred" ng-model="item.chkbx"></td>
                    <td><a href="{{item.urls.longUrl}}" target="_blank">{{item.assetId}}</a></td>
                    <td>{{item.assetTypeName}}</td>
                    <td>{{item.headline}}</td>
                    <td>{{item.promoBrief}}</td>
                    <td>{{item.attribution.author}}</td>
                    <td>{{item.statusName}}</td>
                    

                </tr>
        </tbody>
    </table>

</div>