
<div id="main" class="container-fluid">
    <h2 id="hdr"><img id="tunesImg" src="img/nowusm.png" width="140" height="60">Asset Search</h2>

    <form id="myForm" class="form-inline form-search" style="padding-left: 10px">
        <label>Search for
            <input id="in" type="text" ng-model="searchTerm" class="search-query input-medium">
        </label>
        <label>Asset Type
            <select ng-model="mediaType" class="input-small">
                <option value="all" selected>All</option>
                <option value="image" selected>Image</option>
                <option value="video">Video</option>
                <option value="gallery">Gallery</option>
                <option value="album">Album</option>
                <option value="text">Text</option>
            </select>
        </label>
        <button class="btn" ng-click="doSearch()"><i class="icon-search"></i>Search</button>
        <span id="qualifiers">
            <label>Sort by
                <select ng-model="sortProp" class="input-medium">
                    <option value="assetTypeName">Asset Type</option>
                    <option value="author">Author</option>
                    <option value="statusName">Publish Status</option>
                    <option value="section" selected>Section</option>
                </select>
            </label>
            <label>Filter by
                <input type="text" ng-model="filterTerm" class="input-small">
            </label>
        </span>
    </form>
    <table id="resultsTbl" class="table table-striped">
        <thead>
        <tr>
            <th>
                <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()" />
            </th>
            <th>Asset Id</th>
            <th>Image Asset</th>
            <th>Status</th>
            <th>Author</th>
            <th>Headline</th>
            <th>Section</th>
            <th>Subsection</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in mediaResults | filter:filterTerm | orderBy:sortProp">
            <!--<td><button id="playBtn"
                        class="btn" ng-click="playVideo(item)"><i class="icon-play"></i></button></td>-->
            <td><input type="checkbox" name="selected" ng-checked="isSelectedAll()" ng-click="selectAll($event)"></td>
            <td><a href="{{item.urls.longUrl}}">{{item.assetId}}</a></td>
            <td><a href="{{item.photo.crops.16_9}}">{{item.assetTypeName}}</a></td>
            <td>{{item.statusName}}</td>
            <td>{{item.attribution.author}}</td>
            <td>{{item.headline}}</td>
            <td>{{item.ssts.section}}</td>
            <td>{{item.ssts.subsection}}</td>
            <!--<div id="simpleModal" show-modal>
                <blockquote>
                    <p>{{title | capitalize}}</p>

                    <small>by <cite>{{artist}}</cite></small>
                </blockquote>
                <button id="closeSimple" ng-click="closeVideo()" class="btn"><i class="icon-remove"></i></button>
                <video id="vid" width="320" height="240" video-loader autoplay controls>
                    {{url}}
                    <source id="vidsrc" ng-src="url" type="video/mp4">
                </video>
            </div>-->
        </tr>
        </tbody>
    </table>
    <img ng-src="{{mainImageUrl}}" class="phone">
</div>