<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Configuration Wizard</h3>
</div>
<div class="modal-body">
    <div>
        <div class="btn-group">
            <button class="btn" ng-class="{'btn-primary':isCurrentStep(0)}" ng-click="setCurrentStep(0)">Search From</button>
            <button class="btn" ng-class="{'btn-primary':isCurrentStep(1)}" ng-click="setCurrentStep(1)">Search To</button>
            <button class="btn" ng-class="{'btn-primary':isCurrentStep(2)}" ng-click="setCurrentStep(2)">SSTS</button>
            <button class="btn" ng-class="{'btn-primary':isCurrentStep(3)}" ng-click="setCurrentStep(3)">Review</button>
        </div>
        <div ng-switch="getCurrentStep()" ng-animate="'wave'" class="slide-frame">
            <div ng-switch-when="one">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="firstName">Application Name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="firstName" ng-model="wizard.appName">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="lastName">Brief Description</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="lastName" ng-model="wizard.description">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            Application Type  
					        <label class="radio">
                                <input type="radio" ng-model="wizard.apptype" value="ServiceStack API">
                                ServiceStack API
                                <br />
                                <input type="radio" ng-model="wizard.apptype" value="Angular SPA">
                                Angular SPA
                                <br />
                                <input type="radio" ng-model="wizard.apptype" value="Handler Service" >
                                Handler Service
                                <br />
                                <input type="radio" ng-model="wizard.apptype" value="Other">
                                Other
                                <br />
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>
            <div ng-switch-when="two">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="select01">Deploy through the following?</label>
                        <div class="controls">
                            <select id="select01" ng-model="wizard.deploy">
                                <option>Dev</option>
                                <option>QA</option>
                                <option>Stage</option>
                                <option>Prod</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="multiSelect">Features?</label>
                        <div class="controls">
                            <select multiple="multiple" id="multiSelect" ng-model="wizard.features">
                                <option>New DB Schema</option>
                                <option>New SP's</option>
                                <option>Dependent Libs</option>
                                <option>Cache</option>
                                <option>Special Directory</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div ng-switch-when="three">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="select01">JIRA Type</label>
                        <div class="controls">
                            <select id="select02" ng-model="wizard.jira">
                                <option>Epic</option>
                                <option>Story</option>
                                <option>Task</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="multiSelect">Github</label>
                        <div class="controls">
                            <select multiple="multiple" id="Select3" ng-model="wizard.git">
                                <option>read me</option>
                                <option>release</option>
                                <option>feature</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div ng-switch-when="four">
                <fieldset>
                    <div class="control-group">
                        <h4>Application Name: {{wizard.appName}} </h4>
                        <h4>Description: {{wizard.description}} </h4>
                        <div class="row">
                            <div class="span2">
                                <img src="/images/success.jpg" alt="Ready!" width="160px" height="120px">
                            </div>
                            <div class="span4">
                                <p><strong>New App Type:</strong> {{wizard.apptype}}</p>
                                <p><strong>Environments:</strong> {{wizard.deploy}}</p>
                                <p><strong>JIRA Type:</strong> {{wizard.jira}}</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <p><strong>Features: </strong></p>
                                <div class="badge badge-success pull-left" ng-repeat="feature in wizard.features">{{feature}}</div>
                                <div>&nbsp;</div>
                                <p><strong>Github Branches: </strong></p>
                                <div class="badge badge-success pull-left" ng-repeat="git in wizard.git">{{git}}</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
    <a class="btn btn-primary" ng-click="handleNext(dismiss)">{{getNextLabel()}}</a>
</div>
